@use "_variables.scss" as *;
@use "_normalize.scss" as *;

@use "./blocks/header.scss" as *;

.main {
}
.text-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90vh;
}
.text {
  font-size: 18px;
  color: $color-dark;
}
